# Rewrite Engine activeren
RewriteEngine on

#met harcoded controller
RewriteRule ^bieren/([^/\.]+)/?$ index.php?controller=bieren&method=$1
RewriteRule ^bieren/([^/\.]+)/([^/\.]+)/?$ index.php?controller=bieren&method=$1&id=$2
